*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
 i{
    cursor: pointer;
    color: black;
}
a{
    text-decoration: none;
    color: white;
}

/* Navigation bar designing */
.navbar{
    background: black;
    color: white;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.cartsection{
    background: white;
    color: black;
    padding: 5px;
    font-size: 30px;
    border-radius: 4px;
    position: relative;
}
.cartamount{
    font-size: 16px;
    background-color: red;
    color: white;
    position: absolute;
    top: -15px;
    right: -10px;
    padding: 3px;
    border-radius: 3px;
}
/* Main or Shop Items section Designing */
.shop{
    display: grid;
    grid-template-columns: repeat(4,223px);
    gap: 30px;
    justify-content: center;
    margin-bottom: 20px;
}
@media(max-width:1000px){
    .shop{
        grid-template-columns: repeat(2,223px);
    }
}
@media(max-width:600px){
    .shop{
        grid-template-columns: repeat(1,223px);
    }
}
.item{
    border: 2px solid black;
    border-radius: 4px;
}  
.item img{
    max-height: 250px;
    object-fit: fill;
} 
.details{
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 6px;
}
.price-quantity{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buttons{
    display: flex;
    gap: 8px;
    font-size: 16px;
}
.bi-dash-lg{
    color: red;
}
.bi-plus-lg{
    color: green;
}
.bi-x-lg{
    color: red;
    font-weight: bold;
}
/* CartSection Design */
.text-center{
    text-align: center;
    margin-bottom: 20px;
}
.Hbtn,.Checkout,.remove{
    background-color: black;
    color: white;
    border: none;
    padding: 6px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
}
.Checkout{
    background-color: green;
}
.remove{
    background-color: red;
}
/* Shopping-cart Section Design */
.shopping-cart{
    display: grid;
    grid-template-columns: repeat(1,350px);
    justify-content: center;
    gap: 15px;
}
.Cart-Item{
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
}
.title-price{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.name-price{
    display: flex;
    gap: 9px;
}
.Cart-price{
    background-color: black;
    color: white;
    border-radius: 4px;
    padding: 2px 5px;
}